# Ignore Vivado temporary files
.Xil/
/**/*.cache/
/**/*.gen/
/**/*.hw/
/**/*ioplanning/
/**/*.ip_user_files/
/**/*.runs/
/**/*.sim/
/libs_archive/

# Always ignore journal and log files
*.log
*.jou
*.str
*.dmp
